$primary: #cb861a;
$success: #cb861a;
$body-bg: #27383e;
$danger: #881515;

* {
    font-family: 'Victor Mono', monospace !important;
}

.card {
    background-color: white;
}

@media (max-width: 774px) { 
    .movieView {
        margin: 0 auto;
        max-width: 60%;
        display: block;
    };
} 

@media (max-width: 1000px) {
    .navLinks, .navSearch {
        flex-direction: column;
        justify-content: flex-start;
    };

    .navSearch {
        flex-direction: column-reverse;
    };

    .loginButton {
        margin: 0;
        padding-left: 0;
    }
 }

@import '~bootstrap/scss/bootstrap.scss';
