$primary: #cb861a;
$success: #cb861a;
$body-bg: #27383e;
$danger: #881515;

* {
    font-family: 'Victor Mono', monospace !important;
}

@media (max-width: 992px) {
    .navLinks, .navSearch {
        flex-direction: column;
        justify-content: flex-start;
    };

    .navSearch {
        flex-direction: column-reverse;
    };

    .loginButton {
        margin: 0;
        padding-left: 0;
    }

    .movieView_component {
        flex-direction: column-reverse !important;
        align-items: flex-start;
    }
 }

@import '~bootstrap/scss/bootstrap.scss';
