$primary: #cb861a;
$success: #cb861a;
$body-bg: #27383e;
$danger: #460b0b;

.font {
    font-family: 'Quicksand', sans-serif;
}

.card {
    background-color: white;
}

@import '~bootstrap/scss/bootstrap.scss';
